.submitContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.disable {
  color: rgb(222, 14, 14);
}

.enableCorrect {
  color: rgb(8, 90, 8);
}

.enableWarning {
  color: rgb(228, 228, 8);
}
